@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');

html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    font-family: 'Roboto','Microsoft YaHei UI', sans-serif;
    margin: 0;
}

.fullscreen{
    height: 100%;
}

.project-portal{
    min-height: 100%;
    
    box-sizing: border-box ;
    
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.project-portal *{
    color: #ecf0f1;
}

.project-portal a{
    color: #ffffff;
}

.project-intro{
    padding: 3rem 2rem 3rem 2rem;
    font-family: 'Muli','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-list{
    padding: 3rem 2rem 3rem 2rem;
}

.project-list > .row > a{
    padding: 0;
    width: 100%;
}

.project-list > .row > a:hover{
    text-decoration: none;
}

.project-item{
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    margin: 0.5rem 3rem 0.5rem 1rem;
    border: none;
    transition: .35s all;
    z-index: 1;
}

.project-item:hover{
    border-radius: 1rem;
    transform: scale(1.2);
    z-index: 10;
}

.single-tool-wear{
    background: url("../images/drill-444510_1920.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .35s all;
}

.single-tool-wear:hover{
    background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.multiple-tool-wear{
    background: url("../images/sparks-692122_1920.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .35s all;
}

.multiple-tool-wear:hover{
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.visualization{
    background: url("../images/pulse-trace-163708_1280.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.visualization:hover{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tool-wear-forecast{
    background: url("../images/robonauts-600979_1920.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tool-wear-forecast:hover{
    background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.digital-twins{
    background: url("../images/window-941625_1920.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.digital-twins:hover{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.contact-section{
    margin-top: 5rem;
    border-top: #95a5a6 0.1rem dashed;
    padding: 0.5rem 0 0 0;
}

.contact-section > .contact > li{
    padding: 1rem;
    background: #2c3e50;
    color:#ecf0f1;
    margin-top: 1rem;
    transition: .5s all;
}

.contact-section > .contact > li:hover{
    background: #ecf0f1;
    color: #2c3e50;
    transform: scale(1.2);
}

.contact-section > .contact > li:hover span{
    color: #2c3e50;
}

.contact-section > .contact > .email:hover span{
    color: #1abc9c;
}

.contact-section > .contact > .github:hover span{
    color: #24282e;
}

.contact-section > .contact > .weibo:hover span{
    color: #df2029;
}

.contact-section > .contact > .facebook:hover span{
    color: #3b5999;
}

.contact-section > .contact > .twitter:hover span{
    color: #55acee;
}

.contact-section > .contact > .linkedin:hover span{
    color: #0077B5;
}

.contact-section > .contact > .zhihu:hover span{
    color: #0284ff;
}

.highlight-link {
    text-decoration: underline #ecf0f1;
}